*{
    margin: 0 0 0 0;
    background-color: white;
    font-family: Raleway;
}
.menu {
  font-size: 23px;
  margin-top: -76px;
  margin-left: 22px;
}

.menu-list {
  display: flex; 
  list-style: none; 
}

.menu-item,
.menu-circle {
  margin-right: 35px;
}

.menu-item a {
  text-decoration: none;
  color: black; 
  text-transform: lowercase; 
}

.menu-circle {
  list-style: circle; 
}

.menu-circle a {
  text-decoration: underline; 
  color: black; 
  text-transform: lowercase; 
}

  .logo-black {
    display: block;
    margin-left: 593px;
    margin-top:113px;
    width: 12.5%;
    height: 12.5%;
  }

  .cover {
    position: relative;
    width: 1354px;
    height: 931px;
    margin-top: 120px;
  }
  
  .cover-img {
    background-image: url(images/cover.jpg);
    background-position: center;
    background-size: 125%;
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 0;
  }
  
  .cover-background {
    background-color: rgba(0, 0, 0, 0.6); 
    width: 100%;
    height: 100%;
    position: absolute;
    z-index: 1;
  }
  
  .covertext{
    padding-top:203px;
    font-size: 122px;
    margin-left:62px;
    background: none;
    color:white;
    text-transform: uppercase;
    letter-spacing: 40px;
  }
  .covertext-list{
    background: none;
    color:white;
    display: block;
    padding-top: 10px;
    margin-left:352px;
  }
  .covertext-list-item{
    background: none;
    color:white;
    display: block;
    padding-top: 8px;
    margin-left:719px;
  
  }
  .coverparagraph {
    display: flex;
    align-items: center; 
    gap: 20px;
    background: none;
    padding-left: 98px;
    padding-top: 164px;
}

.paragraph {
    background: none;
    color: white;
    text-transform: uppercase;
    font-size: 27px;
    word-spacing: 25px;
    margin-top:-5px;
}

.knopka {
    font-size: 27px;
    background: none;
    text-transform: uppercase;
    color: white;
    border: 1px solid white; 
    padding: 15px 40px;
    margin-left:65px;
    margin-top: -9px;
}

  

.adres{
  font-style: normal;
  font-size: 23px;
  line-height: 30px;
  margin-top: -74px;
  margin-left: 998px;
  margin-right: 90px;
  text-decoration: none;

}
.adres-list{
  color:black;
  text-decoration: underline;
}
.lot{
  font-style: normal;
  font-size: 33px;
  color:black;
  text-transform: uppercase;
  margin: 221px 0 0 80px ;
}


.lots{
  display:flex;
}

.lot-first {
  position: relative;
  width: 411px;
  height: 693px;
  
}

.lot-first-img {
  background-image: url(images/card-lot-01.jpg);
  background-position: center;
  background-size: 161%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  margin-top:33px;
  margin-left:-49px
}

.lot-first-black {
  background-color: rgba(0, 0, 0, 0.6); 
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}

.lot-first-text{
  background: none;
  color:white;
  font-size:27px;
  margin-top: 64px;
  margin-left:50px;
  font-weight: bold;
  text-decoration: underline;
}
.lot-first-par{
  background: none;
  text-transform: none;
  color:white;
  font-size:25px;
  margin-left: 46px;
  margin-top:296px;
  margin-right:50px;
}

.lot-second {
  position: relative;
  width: 411px;
  height: 693px;
  
}

.lot-second-img {
  background-image: url(images/card-lot-02.jpg);
  background-position: center;
  background-size: 161%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  margin-left:393px;
  margin-top:33px;
}

.lot-second-black {
  background-color: rgba(0, 0, 0, 0.6); 
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.lot-second-text{
  background: none;
  color:white;
  font-size:27px;
  margin-top: 64px;
  margin-left:50px;
  margin-right:30px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 32px;
}
.lot-second-par{
  background: none;
  text-transform: none;
  color:white;
  font-size:25px;
  margin-left: 46px;
  margin-right:50px;
}
.lot-third {
  position: relative;
  width: 411px;
  height: 693px;
  
}

.lot-third-img {
  background-image: url(images/card-lot-03.jpg);
  background-position: center;
  background-size: 161%;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 0;
  margin-left:835px;
  margin-top:33px;
}

.lot-third-black {
  background-color: rgba(0, 0, 0, 0.6); 
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1;
}
.lot-third-text{
  background: none;
  color:white;
  font-size:27px;
  margin-top: 64px;
  margin-left:50px;
  margin-right:30px;
  font-weight: bold;
  text-decoration: underline;
  line-height: 32px;
}
.lot-third-par{
  background: none;
  text-transform: none;
  color:white;
  font-size:25px;
  margin-left: 46px;
  margin-top:117px;
  margin-right:50px;
}
.lot-link{
  background:none;
  position:absolute;
  padding-top:70px;
  font-size: 25px;
  color:black;
  text-transform: lowercase;
}

.about{
  display: grid;
  margin-top:100px;
}
.about-list{
  font-weight: bold;
  font-size: 42px;
  grid-column: 2/3;
  grid-row: 2/3;
  text-transform: uppercase;
  margin-left: 89px;
  margin-top: -169px;


}
.about-list-item{
  grid-column: 2/3;
  grid-row: 3/3;
  font-size: 25px;
  margin-left: 88px;
  margin-top: 12px;
  margin-right: 20px;;
}
.logo-white{
  background:none;
  width: 62%;
  padding-left: 55px;
  padding-top: 80px;
}
.circle{
  grid-column: 1/2;
  grid-row: 1/2;
  width:295px;
  height:295px;
  background-color: black;
  border-radius: 50%;
  margin-left:88px;
  margin-top:220px;

}

.foter{
  font-size: 22px;
  margin-top: 224px;
  margin-left: 6px;
  line-height: 28px;
  color:black;
}

.adress-footer{
  color:black;
  text-align: start;
  margin-right: 1000px;
  line-height: 30px;
  margin-left: 57px;
}
.menu-footer{
  list-style: none;
  text-decoration: none;
  text-align: center;
  margin-left: -45px;
  margin-top: -120px;
  margin-bottom: 155px;
  line-height: 26px;
}
.menu-footer-list{
  color:black;
  text-decoration: none;
}
.menu-footer-item{
  color: black;
}

.social{
  display: grid;
  width: 22%;
  margin-top: -234px;
  margin-left: 990px;
  margin-bottom: 155px;
}

.yt{
  grid-row: 1/4;

}
.vk{
  grid-row: 2/4;
  padding-left: 59px;
  padding-right:59px;
}
.pinterest{
  grid-row: 3/4;

}
